<section data-transition="zoom">
  <div style="text-align: center;">
    <h3 style="margin-top: 0; color: #23c664;">Workshop</h3>
    <h1>Ephemeral Environments<br>with Crossplane e kube-green</h1>
    <div style="margin-bottom: 6em;">
      <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 60px; margin-right: 20px; vertical-align: middle;">
      <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 60px; vertical-align: middle;">
    </div>
  </div>
</section>