<section>
  <div style="text-align: center;">
    <h1>Introduction</h1>
    <p style="font-size: 1.3em; margin-top: 1.5em;">
      In this guided tutorial we are going to see step-by-step how to create self-service ephemeral infrastructure using
      <a href="https://crossplane.io/" target="_blank" style="color: #23c664; text-decoration: underline;">Crossplane</a>
      and
      <a href="https://kube-green.dev/" target="_blank" style="color: #23c664; text-decoration: underline;">kube-green</a>.
    </p>
    <div style="margin-top: 2em; margin-bottom: 3em;">
      <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 50px; margin-right: 20px; vertical-align: middle;">
      <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 50px; vertical-align: middle;">
    </div>
  </div>
</section>