<section>
  <div style="text-align: center;">
    <h2>Workshop Agenda</h2>
    <ul style="text-align: left; display: inline-block; font-size: 1.2em; margin-top: 1em;">
      <li><a href="#/prerequisites" style="color: #23c664; text-decoration: underline;"> 👉🏻 Prerequisites</a></li>
      <li><a href="#/cloudnativepg" style="color: #23c664; text-decoration: underline;">Case 1️⃣: CloudNativePG Clusters</a></li>
      <!--<li><a href="#/strimzi" style="color: #23c664; text-decoration: underline;">Case 2️⃣: Strimzi Clusters</a></li>
      <li><a href="#/aws-aks" style="color: #23c664; text-decoration: underline;">Case 3️⃣: AKS Cluster</a></li>-->
    </ul>
    <div style="margin-top: 2em; margin-bottom: 1.2em; text-align: center; overflow: visible;">
      <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 36px; margin-right: 16px; vertical-align: middle; max-width: 110px;">
      <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 36px; vertical-align: middle; max-width: 110px;">
    </div>
  </div>
</section>