<section data-transition="zoom">
  <div style="text-align: center;">
    <h2 style="margin-top: 0;">Prepare the workspace</h2>
    <div style="margin-top: 2em; font-size: 0.95em; text-align: left; display: inline-block;">
      Install <b>Kind</b>, <b>Helm</b>, and <b>kubectl</b> on your local machine
      (<a href="https://kind.sigs.k8s.io/docs/user/quick-start/#installing-with-a-package-manager" target="_blank"
        style="color: #23c664; text-decoration: underline;">Kind guide</a>,
      <a href="https://helm.sh/docs/intro/install/" target="_blank"
        style="color: #23c664; text-decoration: underline;">Helm guide</a>,
      <a href="https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/" target="_blank"
        style="color: #23c664; text-decoration: underline;">kubectl guide</a>).
      <div
        style="background: #222; color: #eee; padding: 1em 1.5em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 1em; margin-top: 1em; margin-bottom: 2em;">
        <span style="color: #23c664;">$</span> brew install kind helm kubectl
      </div>
      <div style="margin-top: 2em; text-align: center;">
        <img src="/images/crossplane-logo.png" alt="Crossplane Logo"
          style="height: 50px; margin-right: 20px; vertical-align: middle;">
        <img src="/images/kube-green-logo.svg" alt="kube-green Logo" style="height: 50px; vertical-align: middle;">
      </div>
    </div>
  </div>
</section>