<section data-transition="zoom">
  <div style="display: flex; justify-content: center; align-items: center; min-height: 70vh;">
    <div style="text-align: left; width: 100%; max-width: 900px;">
      <h2 style="margin-top: 0; font-size: 1.2em;">Check kube-green installation</h2>
      <div style="margin-top: 1em; font-size: 0.75em; text-align: left; display: inline-block;">
        Check that <b>kube-green</b> is installed correctly.
        <div style="background: #222; color: #eee; padding: 0.5em 0.8em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 0.75em; margin-top: 0.7em;">
          <span style="color: #23c664;">$</span> kubectl get pods -n kube-green
        </div>
        <div style="height: 1em;"></div>
        You should get this output.
        <div style="background: #222; color: #eee; padding: 0.5em 0.8em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 0.75em; margin-top: 0.7em; margin-bottom: 1em;">
          NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;READY&nbsp;&nbsp;&nbsp;&nbsp;STATUS&nbsp;&nbsp;&nbsp;RESTARTS&nbsp;&nbsp;AGE<br>
          kube-green-controller-manager-xxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1/1&nbsp;&nbsp;&nbsp;Running&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;85s
        </div>
        <div style="margin-top: 1em; text-align: center;">
          <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 35px; margin-right: 15px; vertical-align: middle;">
          <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 35px; vertical-align: middle;">
        </div>
      </div>
    </div>
  </div>
</section>