<section data-transition="zoom">
  <div style="text-align: center;">
    <h1 style="margin-top: 0;">Prerequisites</h1>
    <div style="margin-top: 2em; font-size: 1.2em; margin-bottom: 5em;">
      All cases presented in this workshop are implemented on a local 
      <a href="https://kind.sigs.k8s.io/" target="_blank" style="color: #23c664; text-decoration: underline;"><b>kind</b></a> cluster.<br>
      In this first step, we will install and configure everything needed for the following steps.
    </div>
    <div style="margin-top: 2em; text-align: center;">
        <img src="images/crossplane-logo.png" alt="Crossplane Logo"
          style="height: 50px; margin-right: 20px; vertical-align: middle;">
        <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 50px; vertical-align: middle;">
      </div>
  </div>
</section>