<section data-transition="zoom">
  <div style="text-align: center;">
    <h2 style="margin-top: 0.7em; font-size: 0.98em;">What is a <b>Composition</b>?</h2>
    <div style="margin-top: 0.7em; font-size: 0.68em; text-align: left; display: inline-block; max-width: 700px;">
      <b>Composition</b> in <b>Crossplane</b> is a resource that defines how to implement an abstract API (XRD) using real infrastructure resources.<br><br>
      <ul style="text-align: left; font-size: 0.68em; max-width: 600px; margin: 0 auto;">
        <li><b>Infrastructure Mapping:</b> Connects your custom API to managed resources.</li>
        <li><b>Reusable Blueprints:</b> Standardized infrastructure patterns for developers.</li>
        <li><b>Patching & Transformations:</b> Map and transform fields from API to resources.</li>
        <li><b>Multi-resource:</b> One Composition can manage multiple resources.</li>
      </ul>
      <div style="margin-top: 0.7em; font-size: 0.68em;">
        <a href="https://docs.crossplane.io/latest/concepts/composition/" target="_blank" style="color:#23c664; text-decoration:underline;">Crossplane Composition Documentation</a>
      </div>
    </div>
    <div style="margin-top: 0.7em; text-align: center; max-height: 70px; overflow: visible;">
      <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 34px; margin-right: 12px; vertical-align: middle; max-width: 80px;">
      <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 34px; vertical-align: middle; max-width: 80px;">
    </div>
  </div>
</section>
