<section data-transition="zoom">
  <div style="text-align: center;">
    <h2 style="margin-top: 0.7em; font-size: 0.98em;">Apply the <b>Composition</b> manifest</h2>
    <div style="margin-top: 0.7em; font-size: 0.68em; text-align: left; display: inline-block; max-width: 900px;">
      Apply the <b>composition-postgrescluster.yaml</b> manifest:
      <div style="background: #222; color: #eee; padding: 0.45em 0.7em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 0.72em; margin-top: 0.5em; margin-bottom: 0.7em; max-width: 820px; overflow-x: auto;">
        <span style="color: #23c664;">$</span> kubectl apply -f composition-postgrescluster.yaml
      </div>
      You should get this output:
      <div style="background: #222; color: #eee; padding: 0.45em 0.7em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 0.72em; margin-top: 0.5em; margin-bottom: 0.7em; max-width: 820px; overflow-x: auto;">
        composition.apiextensions.crossplane.io/postgrescluster.demo.crossplane.io created
      </div>
      <div style="margin-top: 0.7em; text-align: center;">
        <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 38px; margin-right: 14px; vertical-align: middle; max-width: 100px;">
        <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 38px; vertical-align: middle; max-width: 100px;">
      </div>
    </div>
  </div>
</section>
