<section data-transition="zoom">
  <div style="display: flex; justify-content: center; align-items: center; min-height: 70vh;">
    <div style="text-align: left; width: 100%; max-width: 900px;">
      <h2 style="margin-top: 0.7em; font-size: 0.98em;">Apply the Database Manifest</h2>
      <div style="margin-top: 1.2em; font-size: 0.68em; display: block; text-align: left; max-width: 900px;">
        Apply the <b>my-postgres-db.yaml</b> manifest:
        <div style="background: #222; color: #eee; padding: 0.45em 0.7em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 0.72em; margin-top: 0.7em; margin-bottom: 1em; max-width: 820px; overflow-x: auto;">
          <span style="color: #23c664;">$</span> kubectl apply -f my-postgres-db.yaml
        </div>
        You should get the following output:
        <div style="background: #222; color: #eee; padding: 0.45em 0.7em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 0.72em; margin-top: 0.7em; margin-bottom: 1em; max-width: 820px; overflow-x: auto;">
          xpostgrescluster.demo.crossplane.io/my-production-db created
        </div>
      </div>
    </div>
  </div>
</section>
