<section data-transition="zoom">
  <div style="display: flex; justify-content: center; align-items: center; min-height: 70vh;">
    <div style="text-align: left; width: 100%; max-width: 900px;">
      <h2 style="margin-top: 0.7em; font-size: 1.25em;">What is <a href='https://cloudnative-pg.io/' target='_blank' style='color:#23c664;text-decoration:underline;'>CloudNativePG</a>?</h2>
      <div style="margin-top: 1em; font-size: 0.85em; text-align: left; display: inline-block; max-width: 950px; width: 95%;">
        <b>CloudNativePG</b> is an <b>open source Kubernetes operator</b> for managing <b>PostgreSQL clusters</b> in a cloud-native way.<br><br>
        It automates <b>deployment</b>, <b>scaling</b>, <b>backup</b>, <b>failover</b>, and <b>recovery</b> of PostgreSQL databases on Kubernetes.<br>
        <a href="https://cloudnative-pg.io/documentation/" target="_blank" style="color:#23c664;text-decoration:underline;">Documentation</a> | <a href="https://github.com/cloudnative-pg/cloudnative-pg" target="_blank" style="color:#23c664;text-decoration:underline;">GitHub</a>
      </div>
      <div style="margin-top: 1.2em; margin-bottom: 1.2em; text-align: center; overflow: visible;">
        <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 36px; margin-right: 16px; vertical-align: middle; max-width: 110px;">
        <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 36px; vertical-align: middle; max-width: 110px;">
      </div>
    </div>
  </div>
</section>

<section data-transition="zoom">
  <div style="display: flex; justify-content: center; align-items: center; min-height: 70vh;">
    <div style="text-align: left; width: 100%; max-width: 900px;">
      <h2 style="margin-top: 0.7em; font-size: 1.25em;">Key Features of <a href='https://cloudnative-pg.io/' target='_blank' style='color:#23c664;text-decoration:underline;'>CloudNativePG</a></h2>
      <div style="margin-top: 1em; font-size: 0.85em; text-align: left; display: inline-block; max-width: 950px; width: 95%;">
        <ul style="text-align: left; font-size: 1em;">
          <li><b>Automated PostgreSQL cluster lifecycle management</b></li>
          <li><b>High availability</b> and automated failover</li>
          <li><b>Continuous backup</b> and point-in-time recovery</li>
          <li><b>Easy scaling</b> and upgrades</li>
          <li>Native integration with <b>Kubernetes resources</b></li>
        </ul>
        <div style="height: 1.2em;"></div>
        <a href="https://cloudnative-pg.io/documentation/" target="_blank" style="color:#23c664;text-decoration:underline;">Read more in the docs</a>
      </div>
      <div style="margin-top: 2em; margin-bottom: 1.5em; text-align: center;">
        <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 38px; margin-right: 14px; vertical-align: middle;">
        <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 38px; vertical-align: middle;">
      </div>
    </div>
  </div>
</section>

<section data-transition="zoom">
  <div style="display: flex; justify-content: center; align-items: center; min-height: 70vh;">
    <div style="text-align: left; width: 100%; max-width: 900px;">
      <h2 style="margin-top: 0.7em; font-size: 1.25em;">What is a Cluster in CloudNativePG?</h2>
      <div style="margin-top: 1em; font-size: 0.85em; text-align: left; display: inline-block; max-width: 950px; width: 95%;">
        In <b>CloudNativePG</b>, a <b>Cluster</b> is a custom Kubernetes resource that defines and manages a group of PostgreSQL instances.<br><br>
        The operator ensures <b>high availability</b>, <b>data consistency</b>, and <b>automated failover</b> for all instances in the cluster.<br>
        Learn more in the <a href="https://cloudnative-pg.io/documentation/" target="_blank" style="color:#23c664;text-decoration:underline;">official documentation</a>.
      </div>
      <div style="margin-top: 2em; margin-bottom: 1.5em; text-align: center;">
        <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 38px; margin-right: 14px; vertical-align: middle;">
        <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 38px; vertical-align: middle;">
      </div>
    </div>
  </div>
</section>
