<section data-transition="zoom">
  <div style="display: flex; justify-content: center; align-items: center; min-height: 70vh;">
    <div style="text-align: left; width: 100%; max-width: 900px;">
      <div style="text-align: center;">
        <h2 style="margin-top: 0.7em; font-size: 0.98em;">Check the Result</h2>
        <div style="margin-top: 1.2em; font-size: 0.68em; display: block; text-align: left; max-width: 900px;">
          Then, check the <code>Cluster</code> Object:
          <div style="background: #222; color: #eee; padding: 0.45em 0.7em; border-radius: 8px; font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace; font-size: 0.72em; margin-top: 0.7em; margin-bottom: 1em; max-width: 820px; overflow-x: auto;">
            <span style="color: #23c664;">$</span> watch "kubectl get cluster my-production-db -n default -o yaml"
          </div>
          You should see the changes done by kube-green reflected here.
          <div style="margin-top: 1em; text-align: center;">
            <img src="images/crossplane-logo.png" alt="Crossplane Logo" style="height: 38px; margin-right: 14px; vertical-align: middle; max-width: 100px;">
            <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 38px; vertical-align: middle; max-width: 100px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
