<section data-transition="zoom">
  <div style="text-align: center;">
    <h1 style="margin-top: 0; font-size: 1.12em;">1️⃣ Cloud Native PG PSQL Cluster</h1>
    <div style="margin-top: 1.2em; font-size: 1em; margin-bottom: 2em; max-width: 900px; width: 90%; display: inline-block; text-align: left;">
      In this section we will see how to manage the shutdown and restart of a PostgreSQL cluster managed using the <a href="https://cloudnative-pg.io/" target="_blank" style="color: #23c664; text-decoration: underline;"><b>CloudNativePG</b></a> operator and orchestrated by Crossplane.
    </div>
    <div style="margin-top: 2em; text-align: center;">
        <img src="images/crossplane-logo.png" alt="Crossplane Logo"
          style="height: 50px; margin-right: 20px; vertical-align: middle;">
        <img src="images/kube-green-logo.svg" alt="kube-green Logo" style="height: 50px; vertical-align: middle;">
      </div>
  </div>
</section>