<!doctype html>
<header>
  <link rel="stylesheet" href="{{ 'assets/reveal/reveal.css' | url }}" />
  <link rel="stylesheet" href="{{ 'assets/reveal/theme/black.css' | url }}" />
</header>
<title>Ephemeral Environments with Crossplane and kube-green</title>

<body>
  <div class="reveal">
    <div class="slides">
      {% include "slides/01-title.html" %}
      {% include "slides/02-intro.html" %}
      {% include "slides/02.1-what-is-crossplane.html" %}
      {% include "slides/02.2-intro-kube-green.html" %}
      {% include "slides/03-agenda.html" %}
      <section id="prerequisites">
        {% include "slides/04-prerequisites.html" %} 
        {% include "slides/04-1-prepare-the-workspace.html" %}
        {% include "slides/04-2-create-the-cluster.html" %}
        {% include "slides/04-3-check-ns.html" %}
        {% include "slides/04-4-add-crossplane.html" %}
        {% include "slides/04-5-check-crossplane.html" %}
        {% include "slides/04-6-install-cert-manager.html" %}
        {% include "slides/04-7-install-kube-green.html" %}
        {% include "slides/04-8-check-kube-green-installation.html" %}
      </section>
      <section id="cloudnativepg">
        {% include "slides/05-cloud-native-pg-case.html" %}
        {% include "slides/05-1-intro-cloudnativepg.html" %}
        {% include "slides/05-2-install-crossplane-provider-kubernetes.html" %}
        {% include "slides/05-3-intro-crossplane-provider.html" %}
        {% include "slides/05-4-apply-crossplane-provider-kubernetes.html" %}
        {% include "slides/05-5-config-crossplane-provider-kubernetes.html" %}
        {% include "slides/05-6-apply-crossplane-provider-config.html" %}
        {% include "slides/05-7-install-cloudnativepg-operator.html" %}
        {% include "slides/05-8-check-cloudnativepg-operator.html" %}
        {% include "slides/05-9-create-xrd-postgrescluster.html" %}
        {% include "slides/05-10-intro-xrd.html" %}
        {% include "slides/05-11-apply-xrd.html" %}
        {% include "slides/05-12-create-composition.html" %}
        {% include "slides/05-13-intro-composition.html" %}
        {% include "slides/05-14-apply-composition.html" %}
        {% include "slides/05-15-grant-permission.html" %}
        {% include "slides/05-16-create-db-instance.html" %}
        {% include "slides/05-17-apply-db-instance.html" %}
        {% include "slides/05-18-verify-db-provisioning.html" %}
        {% include "slides/05-19-verify-cnpg-cr.html" %}
        {% include "slides/05-20-verify-db-pods.html" %}
        {% include "slides/05-21-kube-green-rbac.html" %}
        {% include "slides/05-22-apply-kube-green-rbac.html" %}
        {% include "slides/05-23-schedule-sleep-db.html" %}
        {% include "slides/05-24-apply-sleepinfo.html" %}
        {% include "slides/05-25-check-xrd-hibernation.html" %}
        {% include "slides/05-26-check-cluster-hibernation.html" %}
        {% include "slides/05-27-check-db-pod-sleep.html" %}
      </section>
    </div>
  </div>

  <script src="{{ 'assets/reveal/reveal.js' | url }}"></script>
  <script src="{{ 'assets/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script src="{{ 'assets/reveal/plugin/notes/notes.js' | url }}"></script>
  <script>
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      slideNumber: false,
      plugins: [ RevealNotes, RevealHighlight ]
    });
  </script>
</body>
