<!doctype html>
<header>
  <link rel="stylesheet" href="{{ 'assets/reveal/reveal.css' | url }}" />
  <link rel="stylesheet" href="{{ 'assets/reveal/theme/black.css' | url }}" />
</header>
<title>Ephemeral Environments with Crossplane and kube-green</title>

<body>
  <div class="reveal">
    <div class="slides">
      {% include "slides/01-title.html" %}
      {% include "slides/02-intro.html" %}
      {% include "slides/03-agenda.html" %}
      <section id="prerequisites">
        {% include "slides/04-prerequisites.html" %} 
        {% include "slides/04-1-prepare-the-workspace.html" %}
        {% include "slides/04-2-create-the-cluster.html" %}
        {% include "slides/04-3-check-ns.html" %}
        {% include "slides/04-4-add-crossplane.html" %}
      </section>
    </div>
  </div>

  <script src="{{ 'assets/reveal/reveal.js' | url }}"></script>
  <script src="{{ 'assets/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script src="{{ 'assets/reveal/plugin/notes/notes.js' | url }}"></script>
  <script>
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      slideNumber: false,
      plugins: [ RevealNotes, RevealHighlight ]
    });
  </script>
</body>
